div#header {
	width: 100%
	position: fixed;
	top: 0;
	left: 150px;
	background-color: #3399ff;
	right:150px;
}
div#header h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: 900;
	color: white;
	font-size: 4em
	margin-left: 20%;
	padding: 0;
	left:50px;
}
div#header img {
	float: left;
	margin: .9em .6em 0 .75em;
}

[type='img'] {
	float left:
	margin-top: 3em;
}


[type='radio'] {
	margin: auto auto 2em auto;
}